<div class="row animated fateIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #input (keyup)="buscarUsuario(input.value)" type="text" class="form-control"
          placeholder="Buscar Usuario." />
      </div>
    </div>
  </div>
</div>

<div class="row animated fateIn" *ngIf="cargando">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong> <br />
      <i class="fa fa-refresh fa-spin fa-2x"></i> <br />
      <span>Espere Porfavor</span>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <table id="demo-foo-accordion" data-sort="false" class="table toggle-arrow-tiny tablesaw">

          <thead>
            <tr>

              <th data-toggle="true"> Imagen</th>
              <th class="w150"> Nombre </th>
              <th class="w150" data-hide="phone"> Correo </th>
              <th class="w150" data-hide="phone"> Role </th>
              <th class="w150" data-hide="phone"> Auth </th>
              <th class="w150" data-hide="phone,tablet"> Config </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios; let i=index">
              <td class="w70">
                <img [src]="usuario.img | imagen" class="img-50 img-circle pointer">
              </td>

              <td>
                {{ usuario.nombre }}
              </td>

              <td>
                {{ usuario.email }}
              </td>
              <td>

                <select [(ngModel)]="usuario.role" name="role" class="form-control wselect">
                  <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                  <option value="USER_ROLE">USER_ROLE</option>
                </select>

              </td>
              <td>
                <label *ngIf="usuario.google" class="label label-danger">Google</label>
                <label *ngIf="!usuario.google" class="label label-info">Normal</label>
              </td>
              <td>
                <button (click)="gurdarUsuario( usuario )" class="btn btn-primary">
                  <i class="fa fa-save"></i>
                </button>

                <button (click)="borrarUsusario( usuario )" class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>

          </tbody>

        </table>
        <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
          Anteriores
        </button>

        <button (click)="cambiarDesde(5)" class="btn btn-secondary ">
          Siguientes
        </button>
      </div>
    </div>

  </div>
</div>
